@model TradersMarketplace.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register Buyer</h2>


@using (Html.BeginForm())
{
    <div class="tabsMenu">
        <div class="tabMenuItem"><a href="#" id="btnRegisterAsBuyer">Register as Buyer</a></div>
        <div class="tabMenuItem"><a href="#" id="btnRegisterAsSeller">Register as Seller</a></div>
    </div>
    <div class="tabs">
        <div class="tab">
            @Html.Partial("_RegisterBuyerPartial", Model.RegisterModels[0]);
        </div>
        <div class="tab">
            @Html.Partial("_RegisterSellerPartial", Model.RegisterModels[1]);
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
