@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3" id="categoriesMenu">
        @Html.Partial("_CategoriesMenu")
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Custom/ProductScript.js"></script>
}
