@model IEnumerable<Common.Views.ProductListView>

@{
    ViewBag.Title = "Home";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    *@

<!-- Begin Products -->
<div id="products">
    <h2>
        Latest Products
    </h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="product col-md-4">
                <a href="@Url.Action("Details", "Product", new { id = item.Id })">
                    <span class="title">@item.Name</span>
                    @if (item.ImagePath == null)
                    {
                        <img src="..\..\Images\No_Image_Available.png" alt="No image available" />
                    }
                    else
                    {
                        <img src="..\..\Images\ProductImages\@item.ImagePath" alt="@item.Name Image" />
                    }
                    <span class="price"><span>&euro;</span>@item.Price</span>
                </a>
            </div>
        }
    </div>
</div>    